
.social-icon {
    width: 30px; 
    height: 30px;
    margin: 0 10px; 
    transition: transform 0.2s;
}

.social-icon:hover {
    transform: scale(1.2); 
}

#gallery {
    max-width: 600px;
    margin: auto;
}
.carousel-item img {
    height: 600px; 
    object-fit: contain;
}